
body{
    margin: 0;
    padding: 0;
    background-color: rgb(227, 231, 231);
    
    
}
.section{
   
    background-color: white;
    margin: 2rem;
    padding: 1rem;
}


h4{
      
}

.div-one
{
    display: flex;
    
    
}

span{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}


.div-two
{
    display: flex;

    
}

.div-three
{
    display: flex;
    
    
}

.para{
    display: none;
}

.minus-icon{
    display: none;
}

.show-text .para{
    display: block;
}

.show-text .minus-icon
{
    display: inline;
}

.show-text .plus-icon
{
    display: none;
}